<div class="card-login">
        <div class="card-header">
            <h2>Sign Up</h2>
        </div>
        <h3 class="login-header">Username</h3>
        <input type="text"  class="input">
         <h3 class="login-header">Email</h3>
        <input type="text"  class="input">
        <h3 class="login-header">Password</h3>
        <input type="text" class="input">
        <button class="btn-login">Sign Up</button>
    </div>